@use "sass:math";
@use "../utilities/variables" as *;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__fluid {
    padding: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^="col-"] {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  flex-grow: 1;
}

.col-auto {
  flex: 1;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, $grid-columns));
    max-width: math.percentage(math.div($i, $grid-columns));
  }
}

@each $bp, $size in $breakpoints {
  @media (min-width: $size) {
    @for $i from 1 through $grid-columns {
      .col-#{$bp}-#{$i} {
        flex: 0 0 math.percentage(math.div($i, $grid-columns));
        max-width: math.percentage(math.div($i, $grid-columns));
      }
    }
  }
}
