.skip-to-content {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: calc(50% - 200px);
  background: #e20612;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 0 4px 4px;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  z-index: 9999;

  &:focus {
    outline: 2px solid #fff;
    background: #e20612;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    width: 200px;
    height: 30px;
  }
}
