.nav__wpr {
  position: relative;
  z-index: 101;
  transition: 0.3s ease-in-out;

  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  height: 72px;
  background: transparent;
}

.nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;

  &--left {
    display: none;
    justify-content: flex-start;

    @include respond-to("lg") {
      display: flex;
    }
  }

  &--right {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__menu-mobile {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  @include respond-to("lg") {
    display: none;
  }
}

.nav__menu-mobile-list {
  display: none;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 15px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  justify-content: start;
  align-items: anchor-center;
  padding-top: 64px;

  button {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  &.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.nav__menu-item {
  display: flex;
  align-items: center;

  &--right {
    margin-right: 8px;

    @include respond-to("sm") {
      margin-right: 16px;
    }
  }
}

.nav__menu-link {
  font-family: $outfit-bold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: $white;
  padding: 0 24px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $white-smoke;
    transition: 0.3s;
  }
}

.nav__menu-btn {
  background: transparent;
  border: none;
  padding: 0 8px;
  transition: 0.3s;

  svg {
    &:hover {
      fill: $white-smoke;
      transition: 0.3s;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo-link {
  text-decoration: none;
}

.nav__burger {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 22px;
  left: 32px;
  width: 35px;
  height: 30px;
  z-index: 10;

  span {
    display: block;
    width: 100%;
    height: 5px;
    background: $white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  @include respond-to("lg") {
    display: none;
  }
}
